.App {
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  
}
.textCotainer{
  display: flex;
  flex-direction: column;
}
.elementContainer{
  display: flex;
  margin: 2px;padding: 2px;
}
.imgContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;padding: 2px;
  
}
label{
  width: 100px;
}
